################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/packages
/SimpleAngular2POC/bin
/SimpleAngular2POC/obj/Debug
